<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package ID="UniTask" Version="2.5.5" TargetFramework="netstandard2.1" AllowedVersions="[2.5.5]" />
  <package ID="MemoryPack.Core" Version="1.21.1" TargetFramework="netstandard2.1" AllowedVersions="[1.21.1]" />
  <package ID="System.Collections.Immutable" Version="6.0.0" TargetFramework="netstandard2.0" AllowedVersions="[6.0.0, )" />
  <package ID="System.Runtime.CompilerServices.Unsafe" Version="6.0.0" TargetFramework="netstandard2.0" AllowedVersions="6.0.0" />
  <package ID="System.Text.Json" Version="8.0.4" TargetFramework="netstandard2.0" AllowedVersions="[8.0.4]" />
  <package ID="Microsoft.Bcl.AsyncInterfaces" Version="8.0.0" TargetFramework="netstandard2.1" AllowedVersions="[8.0.0, )" />
  <package ID="System.Text.Encodings.Web" Version="8.0.0" TargetFramework="netstandard2.0" AllowedVersions="[8.0.0, )" />
  <package ID="ExcelDataReader" Version="3.7.0" TargetFramework="netstandard2.1" AllowedVersions="[3.7.0]" />
  <package ID="ExcelDataReader.DataSet" Version="3.7.0" TargetFramework="netstandard2.1" AllowedVersions="[3.7.0]" />
</packages>